################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clients/IE.Mobile.Forms/IE.Mobile.Forms/IE.Mobile.Forms/bin
