<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="7.0.35" targetFramework="uap10.0" />
  <package id="ARSoft.Tools.Net" version="2.2.9" targetFramework="uap10.0" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="uap10.0" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="uap10.0" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="uap10.0" />
  <package id="Caliburn.Micro.Xamarin.Forms" version="3.2.0" targetFramework="uap10.0" />
  <package id="CardsView" version="2.3.0" targetFramework="uap10.0" />
  <package id="CarouselView.FormsPlugin" version="5.2.0" targetFramework="uap10.0" />
  <package id="Com.Airbnb.Xamarin.Forms.Lottie" version="3.0.1" targetFramework="uap10.0" />
  <package id="DynamicData" version="6.13.9" targetFramework="uap10.0" />
  <package id="ExifLib.PCL" version="1.0.1" targetFramework="uap10.0" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="uap10.0" />
  <package id="Microsoft.NETCore.Platforms" version="3.0.0" targetFramework="uap10.0" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="uap10.0" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="uap10.0" />
  <package id="OpenTK" version="3.0.1" targetFramework="uap10.0" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="uap10.0" />
  <package id="PCLCrypto" version="2.0.147" targetFramework="uap10.0" />
  <package id="PhotoBrowser.Forms" version="0.1.4" targetFramework="uap10.0" />
  <package id="PInvoke.BCrypt" version="0.5.184" targetFramework="uap10.0" />
  <package id="PInvoke.Kernel32" version="0.5.184" targetFramework="uap10.0" />
  <package id="PInvoke.NCrypt" version="0.5.184" targetFramework="uap10.0" />
  <package id="PInvoke.Windows.Core" version="0.5.184" targetFramework="uap10.0" />
  <package id="Plugin.DeviceOrientation" version="1.0.7" targetFramework="uap10.0" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="uap10.0" />
  <package id="Plugin.Security" version="1.0.2" targetFramework="uap10.0" />
  <package id="Plugin.SpeechRecognition" version="1.0.0" targetFramework="uap10.0" />
  <package id="ScnSideMenu.Forms" version="1.5.2" targetFramework="uap10.0" />
  <package id="ScnViewGestures.Forms" version="1.5.0" targetFramework="uap10.0" />
  <package id="Sharpnado.Forms.HorizontalListView" version="1.3.0" targetFramework="uap10.0" />
  <package id="Sharpnado.Presentation.Forms" version="1.3.0" targetFramework="uap10.0" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="uap10.0" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="uap10.0" />
  <package id="SkiaSharp.Views.Forms" version="1.68.0" targetFramework="uap10.0" />
  <package id="Splat" version="8.2.4" targetFramework="uap10.0" />
  <package id="Syncfusion.Licensing" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.Cards" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.Compression" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.Core" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.DataSource" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.GridCommon" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.Pdf" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfBadgeView" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfBusyIndicator" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfImageEditor" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfListView" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfNavigationDrawer" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfPdfViewer" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfProgressBar" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfPullToRefresh" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfRangeSlider" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfRating" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="Syncfusion.Xamarin.SfTabView" version="17.3.0.28" targetFramework="uap10.0" />
  <package id="System.AppContext" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Buffers" version="4.4.0" targetFramework="uap10.0" />
  <package id="System.CodeDom" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Collections" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Console" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Drawing.Common" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Globalization" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.IO" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Linq" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Memory" version="4.5.3" targetFramework="uap10.0" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="uap10.0" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="uap10.0" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Reactive" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Core" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Experimental" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Interfaces" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Linq" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.PlatformServices" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Providers" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Runtime.Remoting" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Windows.Forms" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reactive.Windows.Threading" version="4.1.6" targetFramework="uap10.0" />
  <package id="System.Reflection" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Runtime" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="uap10.0" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="uap10.0" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Threading" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="uap10.0" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="uap10.0" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="uap10.0" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="uap10.0" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="uap10.0" />
  <package id="UrhoSharp.Forms" version="1.9.67" targetFramework="uap10.0" />
  <package id="Validation" version="2.4.22" targetFramework="uap10.0" />
  <package id="Xam.Plugin.Connectivity" version="3.2.0" targetFramework="uap10.0" />
  <package id="Xam.Plugin.ExternalMaps" version="4.0.1" targetFramework="uap10.0" />
  <package id="Xam.Plugin.Geolocator" version="4.5.0.6" targetFramework="uap10.0" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="uap10.0" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="3.0.0.5" targetFramework="uap10.0" />
  <package id="Xamarin.Essentials" version="1.3.1" targetFramework="uap10.0" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="uap10.0" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="uap10.0" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.11.982" targetFramework="uap10.0" />
  <package id="Xamarin.Forms" version="4.3.0.991211" targetFramework="uap10.0" />
</packages>