<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleDisplayName</key>
    <string>packman</string>
    <key>CFBundleIdentifier</key>
    <string>com.dg.packmantesting</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleName</key>
    <string>IE.Mobile.Forms</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>In order to securely store your photos in your vault, Mini Vault requires access to your photos</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>In order to securely store your photos in your vault, Mini Vault requires access to your photos</string>
    <key>NSCameraUsageDescription</key>
    <string>In order to securely store your photos in your vault, Mini Vault requires access to your camera</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Mini Vault requires access to your calendar to keep track of events for secure storage</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>test</string>
    <key>NSSiriUsageDescription</key>
    <string>Testing</string>
    <key>kTCCServiceMediaLibrary</key>
    <string>In order to securely store your music in your vault, Mini Vault requires access to your music library</string>
    <key>XSAppIconAssets</key>
    <string>Media.xcassets/AppIcons.appiconset</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Makes it easier to search for addresses</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Makes it easier to search for addresses</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Makes it easier to search for addresses</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoadsInMedia</key>
      <true/>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>UIAppFonts</key>
    <array>
      <string>materialicons.ttf</string>
      <string>fontawesome.ttf</string>
      <string>ionicons.ttf</string>
      <string>Roboto-Black.ttf</string>
      <string>Roboto-BlackItalic.ttf</string>
      <string>Roboto-Bold.ttf</string>
      <string>Roboto-BoldItalic.ttf</string>
      <string>Roboto-Italic.ttf</string>
      <string>Roboto-Light.ttf</string>
      <string>Roboto-LightItalic.ttf</string>
      <string>Roboto-Medium.ttf</string>
      <string>Roboto-MediumItalic.ttf</string>
      <string>Roboto-Regular.ttf</string>
      <string>Roboto-Thin.ttf</string>
      <string>Roboto-ThinItalic.ttf</string>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
  </dict>
</plist>
